{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task "{{ task.title }}"</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        <button type="submit" class="btn-submit">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('task_index') }}" class="back-link">← Back to Task List</a>
{% endblock %}
